.tópicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}
.tópicos__titulo{
    color: var(--branco);
    font-weight: 300;
    text-align: center;
    margin-bottom:1em ;
    
}
.tópicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__link{
        text-decoration: none;
        color: var(--branco);
        background-color: var(--laranja);
        font-size: 14px;
        font-weight: 700;
        padding: 1em;
}
.topicos__item{
    margin: 2em 0.5em;
}
@media screen and (min-width: 1024px){
    .tópicos__titulo{
        font-size: 24px;
    }
    .topicos__link{
        font-size: 24px;
        
    }
    .lista-menu__item{
        
    }
    .lista-menu__item__link{
        font-size: 16px;
        
    }
}
@media screen and (min-width: 1728px){
    .tópicos{
        padding: 3em 30vw;
    }
    
    
}